{% extends "base.html" %}
{% block content %}
<a href="/destinations/visited">Visited</a>
<a href="/destinations/unvisited">Unvisited</a>
<h3>
    Please add a destination to start your bucket list!
</h3>
{% for destination in destinations %}
    <div class="destination">
        <div class="content">
                <a href="/destinations/{{destination.id}}"><p>{{ destination.city.name }}</p></a><br>
                <p>{{ destination.country.name }}</p><br>
                <p>{{ destination.visited }}</p><br>
                <p>{{ destination.review }}</p>
        </div>
    </div>
    <div class="buttons">
        <form action="/destinations/{{destination.id}}/delete" method="POST">
            <button class="trash-button"><i class="fa fa-ban fa fw" style="color:red" aria-hidden="true"></i></button>
        </form>
    </div>
    <p><a href="/destinations/{{destination.id}}/edit">Edit</a></p>
{% endfor %}

{% endblock %}