{% extends 'base.html' %}
{% block content %}

<h2 class="new-title">Add a new destination!</h2>
<form action="/destinations" class="new-dest" method="POST">
    <div>
        <label for="city">
            City: 
        </label>
        <select id="city" name="city_id">
            {% for city in all_cities %}
                <option value="{{ city.id }}">
                    {{ city.name }}
                </option>
            {% endfor %}
        </select>
    </div>
    <div>
        <label for="country">
            Country: 
        </label>
        <select id="country" name="country_id">
            {% for country in all_countries %}
                <option value="{{ country.id }}">
                    {{ country.name }}
                </option>
            {% endfor %}
        </select>
    </div>
    <div>
        <textarea name="review" id="review" cols="30" rows="10" placeholder="leave a review or comment!"></textarea>
    </div>
    <button type="submit">
        Add Destination
    </button>
</form>

{% endblock content %}