{% extends 'base.html' %}
{% block content %}

<li><a href="/cities/new">New City</a></li>

{% for city in all_cities %}
    <div class="city">
        <div class="content">
            <p><a href="/cities/{{city.id}}">{{city.name}}</a></p>
        </div>
    </div>
    <div class="buttons">
        <form action="/cities/{{city.id}}/delete" method="POST">
            <button class="trash-button"><i class="fa fa-ban fa fw" style="color:red" aria-hidden="true"></i></button>
        </form>
    </div>
{% endfor %}

{% endblock content %}