* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.logo img {
    float: left;
    margin: 10px;
    padding: 7px;
    height: 50px;
    width: 125px;
    
}

.main-header {
    margin: 0px;
    padding: 0px;
    background-color: lightgrey;
    width: 100%;
    padding: 7px;
    overflow: hidden;
    padding-bottom: 10px;
}

ul.menu {
    padding: 10px;
    float: right;
}

footer {
    margin: 0px;
    padding: 0px;
    background-color: lightgrey;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

a {
    color: black;
}

a:hover {
    color: gray;
}

.destinations-container {
    display: grid;
    grid-template-columns: 1fr;
    margin: 10px;
    padding: 7px;
}

.country-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 10px;
    padding: 7px;
}

.city-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 10px;
    padding: 7px;
}

.show-city-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 10px;
    padding: 7px;
}

.show-country-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 10px;
    padding: 7px;
}

.visited-links {
    margin: 10px;
    padding: 7px;
    color: darkgray;
}

.edit-title {
    margin: 10px;
    padding: 7px;
}

.show-title {
    margin: 10px;
    padding: 7px;
}

.home-screen {
    margin: 10px;
    padding: 7px;
}

.new-title {
    margin: 10px;
    padding: 7px;
}

.new-dest, .new-city, .new-country {
    margin: 10px;
    padding: 7px;
}