<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<title>Your Bucket List</title>
</head>
<body>
<header>
    <nav>
    <ul class="menu">
        <li><a href="/">Home</a></li>
        <li><a href="/destinations">Destinations</a></li>
        <li><a href="/destinations/new">New Destination</a></li>
        <li><a href="/cities/new">New City</a></li>
        <li><a href="/countries/new">New Country</a></li>
    </ul>
    </nav>
</header>
<div class="container">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>
